.colour3{background:$base;}
.colour2{background:$lighter1;}
.colour1{background:$lighter2;}
.colour4{background:$darker1;}
.colour5{background:$darker2;}

header{
    background-color:$lighter1;
    height: 100px;
    color: #ffffff;
    font-size: 20pt;
    line-height: 100px;

}